# Windows image file caches
Thumbs.db

# Mac crap
.DS_Store

# Android Studio
local.properties
gen/
build/
.idea/
.gradle/
*.iml

crashlytics.properties
SITracker/*.apk
SITracker/keystore.jks

device-screenshots
proguardTools/
