language: android

branches:
  only:
    - master
    - develop
    
android:
  components:

    # The BuildTools version used by your project
    - tools
    - build-tools-24.0.2

    # The SDK version used to compile your project
    - android-24

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

before_install:
  - chmod +x gradlew
