<?xml version="1.0" encoding="utf-8"?><!--
  Copyright 2014 Gleb Godonoga.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.andrada.sitracker"
          android:installLocation="auto"
          android:versionCode="28"
          android:versionName="1.2.0">

    <supports-screens
        android:normalScreens="true"
        android:anyDensity="true"
        android:largeScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.andrada.sitracker.SITrackerApp"
        android:theme="@style/AppTheme"
        android:restoreAnyVersion="true"
        android:backupAgent=".util.SiBackupAgent">

        <!-- Google Analytics Version v4 needs this value for easy tracking -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIO-o9YYeEHO2HMe1a0hktEmHxPWxJY_Rhq_BKOQ"/>

        <!-- Activities for both phones and tablets -->
        <activity
            android:name="com.andrada.sitracker.ui.HomeActivity_"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity_"
            android:label="@string/title_settings"
            android:parentActivityName="com.andrada.sitracker.ui.HomeActivity_">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrada.sitracker.ui.HomeActivity_"/>
        </activity>
        <activity
            android:name=".ui.ImportAuthorsActivity_"
            android:label="@string/title_import"
            android:parentActivityName="com.andrada.sitracker.ui.HomeActivity_">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrada.sitracker.ui.HomeActivity_"/>
        </activity>
        <activity android:name="com.andrada.sitracker.ui.DirectoryChooserActivity"/>

        <!-- Phone-only activities -->
        <activity
            android:name=".ui.phone.PublicationsActivity_"
            android:label="@string/title_publications"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".ui.HomeActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity_"/>
            <meta-data
                android:name="com.andrada.sitracker.meta.TARGET_FORM_FACTOR"
                android:value="handset"/>
        </activity>

        <activity
            android:name=".ui.phone.PublicationDetailsActivity_"
            android:label="@string/title_publications_details"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".ui.phone.PublicationsActivity_">
            <!-- PARENT_ACTIVITY alone is insufficient for Up navigation for this activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.phone.PublicationsActivity_"/>
            <meta-data
                android:name="com.andrada.sitracker.meta.TARGET_FORM_FACTOR"
                android:value="handset"/>
        </activity>

        <activity
            android:name=".ui.phone.CommentStreamActivity_"
            android:label="@string/title_comment_stream"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".ui.phone.PublicationDetailsActivity_">
            <!-- PARENT_ACTIVITY alone is insufficient for Up navigation for this activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.phone.PublicationDetailsActivity_"/>
            <meta-data
                android:name="com.andrada.sitracker.meta.TARGET_FORM_FACTOR"
                android:value="handset"/>
        </activity>

        <!-- Tablet-only activities -->

        <activity
            android:name=".ui.tablet.PublicationsMultiPaneActivity_"
            android:label="@string/title_publications"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ui.HomeActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity_"/>
            <meta-data
                android:name="com.andrada.sitracker.meta.TARGET_FORM_FACTOR"
                android:value="tablet"/>
        </activity>

        <activity
            android:name=".ui.tablet.CommentsMultiPaneActivity_"
            android:label="@string/title_comment_stream"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ui.HomeActivity_">
            <!-- PARENT_ACTIVITY alone is insufficient for Up navigation for this activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity_"/>
            <meta-data
                android:name="com.andrada.sitracker.meta.TARGET_FORM_FACTOR"
                android:value="tablet"/>
        </activity>


        <service android:name=".tasks.ClearPublicationCacheTask"/>
        <!-- Authors update components -->
        <service android:name=".tasks.UpdateAuthorsTask_"/>
        <service android:name=".tasks.ImportAuthorsTask_"/>

        <receiver
            android:name=".tasks.receivers.UpdateStatusNotificationReceiver"
            android:exported="false">
            <intent-filter android:priority="0">
                <action android:name="com.andrada.sitracker.UPDATE_SUCCESS_ACTION"/>
                <action android:name="com.andrada.sitracker.UPDATE_FAILED_ACTION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>

